body {
  font-family: sans-serif;
  background-color: rgb(198, 199, 223);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.productimg {
  max-width: 200px;
  max-height: 200px;
  border-radius: 3px;
  border: solid black 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.flavor-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 443px) {
  .flavor-container {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}

input {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.punch-button {
  background-color: #f5afaf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cutie-input {
  max-width: 50px;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.cart-item {
  margin-top: 20px;
  align-items: center;
  border: 1px solid rgb(243, 237, 237);
  max-width: 400px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.cart-items {
  display: grid;
  justify-content: center;
  width: auto;
}


.whole-dang-cart {
  display: grid;
  justify-content: center;
}

.linky-container {
  display: grid;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  
}

.linkybuttons, 
.removeFromCartButton, 
.place-order
 {
  color: black;
  border-radius: 3em;
  ;
}


.linkybuttons:hover, 
.place-order:hover{
  background-color: antiquewhite;
}

.removeFromCartButton:hover {
  background-color: red;
}

.nilelogo {
  font-family: 'Courier New', Courier, monospace;
}

.order-summary-card {
  border: 1px solid #f0cccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  grid-column: initial; 
}

.order-summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-summary-item span:first-child {
  font-weight: bold;
}

.order-information-container {
  max-width: 800px;
  margin: auto;
}

.order-information-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.user-information,
.payment-information,
.shipping-destination,
.order-review {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fff;

}

.user-information {
  display: grid;
  align-content: center;
}

.user-information p {
  margin-top: 65px;
}

.payment-information label {
  display: block;
  margin-bottom: 8px;
}

.payment-information input {
  width: calc(50%); 
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.shipping-destination label {
  display: block;
  margin-bottom: 8px;
}

.shipping-destination input {
  width: calc(100% - 20px); 
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.order-summary {
  border: 1px solid #ccc;
  padding: 15px;
  grid-column: span 2;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #daa3c5;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.centered-button {
  grid-column: span 2; 
  text-align: center;
}

.combined-summary {
  grid-column: span 2; 
}

.payment-information {
  grid-column: span 2; 
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px; 
  background-color: #fff;
  align-content: center;
 }

 h4,h2{
  margin-top: 5px;
 }

.category-select{
  margin-top: 10px;
  margin-bottom: 8px;
  border-radius: 3px;
}


